#dock-container {
    position: absolute;
    bottom: 0;
    height: 120px;
    width: 100vw;

}

#dock {
    margin: 0 auto;
    width: fit-content;
    border-radius: 25px;
    opacity: 0.8;
    -webkit-backdrop-filter: blur(8px);  /* Safari 9+ */
    backdrop-filter: blur(8px); /* Chrome and Opera */
    box-shadow: 0px 10px 15px 10px rgb(0 0 0 / 2%);
    background-color: rgba(246, 246, 246, 0.35); 
    padding: 13px;
    display: flex;
    gap: 14px;
}

.icon {
    width: 70px;
    height: 70px;
    background-color: white;
    border-radius: 15px;
}

.icon:hover {
    background-color: red;
    cursor: pointer;
}